.container {
 margin-top:2rem
}
.heading {
 text-align: center;
}
.tables, 
.tables th,
.tables td {
 border: 1px solid black;
 border-collapse: collapse;
}
.tables {
 margin: 0 auto;
}
.list {
 margin-top: 1rem;
}
.enjoy {
 text-align:center;
 margin-top:2rem;
}
