.container {
 position: absolute;
 left: 0;
 top: 0;
 width: 100%;
 height:100vh;
 z-index: 100;
 background-color: rgba(0,0,0,0.4);

}
.container h1 {
 color:white;
 background-color: #9599E2;
 text-align: center;
}
.container button {
 width:8rem;
 height:4rem;
 font-size:1.5rem
}
.container div {
 overflow: hidden;
 background-color: #8BC6EC;
 border-radius: 10px;
 height: 12rem;
 width:40%;
 position:absolute;
 left:50%;
 top:50%;
 transform: translate(-50%,-50%);
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}
.container span {
 text-align: center;
}